/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*-------------------------*/
/* $Mobile
---------------------------*/


@media (min-width: 1000px) {
    .nav_bar{
        display: none;
    }
}


/*-------------------------*/
/* $1440×800 - mac pro 13'
---------------------------*/




/*-------------------------*/
/* $1440×800 - mac pro 13'
---------------------------*/

@media (max-width: 1600px){


    /* global */
    .title > img{
        width: 16em;
    }
    .sub_title{
        font-size: 16px;
        margin: .5em 2.4em;
    }

    .more_btn{
        padding: .4em 8em ;
        font-size: 20px;
    }


    /* header */
    .mainmenu{margin-bottom: 0;}
    .menu_item{
        font-size: 18px;
        padding: 2em 0 2em 1.6em;
    }
    .banner{
        min-width: 80vw;
        height: 80vh;
        right: 0;
    }
    .banner_txt{
        font-size: 16px;
        letter-spacing: 2px;
        top: 6%;
    }
    /* social btn */
    .social_btn > img{
        width: 3em;
    }
    /* logo */
    .mainmenu_logo{
        width: 30%;
        margin-bottom: 2em;
    }
    /* scroll */
    .banner_scroll{
        width: .8em;
        bottom: -7%
    }
    .scroll_circle{
        height: .8em;
    }
    .scroll_line{
        height: 48px;
    }
    .banner_scroll > p{
        font-size: 18px;
    }
    .banner_talkbox{
        width: 13%;
        top: 5%;
        right: 13%;
    }
    /* about */
    .about_txt_box > p{
        width: 64%;
        font-size: 16px;
    }
    .about_deco_jam{
        bottom: 0%;
        left: 40%;
        width: 12%
    }
    .about_deco_stirring{
        left: 35%;
    }
    .about_img_box{
        top: 2em;
    }
    /* product */
    .product_card{
        height: 15em;
    }
    .product_list{
        margin-bottom: 14%;
    }

    .product_card > span{
        font-size: 1.5em;
    }
    .product_name{
        right: 8%;
        bottom: -40%;
    }
    .product_name > .name{
        font-size: 24px;
    }
    .product_name > .name_jp{
        font-size: 14px;
        letter-spacing: normal;
    }
    /* recipe */
    .recipe_bg{
        margin-bottom: 0;
    }
    .process_txt_box > div{
        font-size: 24px;
    }

    .process_txt_box.txt_1 , .process_txt_box.txt_2{
        padding-left: 5em;
    }
 
    .recipe_deco_agitator{
        left: -4%;
    }

    /* order */

    .sec_order{
        margin-top: 16vh;
    }

    .order_process{
        margin-bottom: 8em;
    }
    .tip_intro{
        margin-top: 12em;
    }
    .tip_title{
        font-size: 28px;
        margin-top: 1em;
    }
    .tip_content{
        font-size: 18px;
    }
    /* comment */
    .sec_comment > .title > .sub_title{
        margin:  em 2.6em;
    }

    .comment_card{
        margin: 0 1em;
        padding: 4em 4em;
    }
    /* footer */
    .footer_logo{
        margin-bottom: 4em;
    }
    .top_btn{
        width: 4em;
    }

    .contant_card{
        height: 14em;
    }
    .footer_logo >img{
        width: 10em;
    }
    .contant_btn_icon{
        width: 3em;
    }
    .btn_title{
        font-size: 24px;
    }
    .btn_txt{
        font-size: 16px;
    }

}






/*-------------------------*/
/* $1366 x 768 - mac pro 14'
---------------------------*/



@media (max-width: 1400px){
    .menu_item{font-size: 18px;}
}




/*-------------------------*/
/* $1194 x 834 - ipad vertical
---------------------------*/


@media (max-width: 1200px){


    /* global */
    .title > img{
        width: 16em;
    }
    .sub_title{
        font-size: 20px;
    }
    .about_txt_box > p{
        width: 85%;
        margin: 2em 2.2em;
    }

    .more_btn{
        padding: .4em 6em;
    }

    /* header */

    .banner{
        min-width: 80vw;
        height: 75vh;
        top: 12vh;
        right: 0;
    }
    .banner_headline{
        top: 65%;
    }
    .mainmenu_logo{
        width: 40%;
        margin-bottom: 2em;
    }

    .menu_item{
        font-size: 20px;
    }

    .social_btn > img{
        width: 2.5em;
    }
    .scroll_circle{
        height: 1.2em
    }
    .banner_scroll{
        width: 1.2em;
    }




    /* product */
    .sec_product{
        margin-top: 24vh;
    }
    .product_card{
        height: 16em;
    }
    .product_list{
        margin-bottom: 25%;
    }

    .product_name{
        bottom: -55%;
        right: 5%;
    }
    .product_name > .name{
        font-size: 32px;
        letter-spacing: 2px;
    }
    .product_name > .name_jp{
        font-size: 16px;
        letter-spacing: 0;
    }
    .product_card > span{
        font-size: 1.5em;
    }
    .process_img_1, .process_img_2{
        width: 70%;
    }

    .process_txt_box.txt_1{
        top: 35%;
        padding-left: 0;
    }
    .process_txt_box.txt_2{
        padding-left: 6em;
    }
    .process_img_1{
        margin-top: 2em; 
        margin-right: 0;  
    }
    .process_img_2{
        margin-left: 0;
    }
    .txt_2 > p {
       width: 100%;  
    }
    /* recipe */
    .recipe_deco_agitator{
        left: 0;
        bottom: 22%;
    }
    .recipe_deco_mixing_bowl{
        bottom: 34%;
        left: 24%;
    }

    /* order */

    .sec_order > .title > p{
        margin: .5em 2.2em;
    }
    .tip_title{
        font-size: 28px;
        margin-top: 1em;
    }
    .tip_intro{
        margin-top: 12em;
    }
    .tip_content{
        font-size: 22px;
    }

    /* comment */

    .comment_list{
        margin-bottom: 8em;
    }
    .comment_card {
        margin: 0 1em;
        padding: 3em 4em;
    }
    .comment_icon{
        width: 40%;
    }

    /* footer */
    .sec_footer{
        height: 125vh;

    }
}


/*-------------------------*/
/* $768 x 1024
---------------------------*/

@media (max-width: 1000px){

    /* global */
    .title > img{
        width: 14em;
    }
    .sub_title{
        font-size: 18px;
        margin: .3em 1.5em;
    }
    .more_btn{
        font-size: 18px;
        padding: .5em 6em;
    }

    



    /* header */
    .sec_header > .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .header_mainmenu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
    }

    .mainmenu_logo{
        width: 70%;
    }
    .mainmenu{
        margin-top: 5vh;       
    }

    .mainmenu > ul{
        display: none;
    }
    .mainmenu_logo{
        width: 70%;
    }
    .menu_item{font-size: 16px;}

    .header_banner{
        width: 100vw;

    }

    .banner{
        height: 55vh;
        top: 22vh;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        min-width:85vw;
    }
    .banner_headline{
        width: 75%;
        top: 60%;
    }
    .banner_txt{
        font-size: 14px;
        padding: 3% .5%;
        white-space: nowrap;
        line-height: 32px;
    }
    

    .social_btn > img{width: 100%;}
    .social_bar{
        top: 2.5em;
        right:  4%;
    }
    .social_btn{margin-bottom: .5em;}




    /* about */
    .sec_about{
        margin-top: 32vh;
        height: 70vh;
    }

    .sec_about > .container{
        top: 50%;
    }

    .about_txt_box > p{
        width: 95%;
        font-size: 16px;
        margin: 1.5em 1.5em;
    }

    .about_img{
        width: 75%;
    }

    /* product */

    .sec_product{
        height: 40vh;
    }

    .product_list{
        margin-bottom: 20%
    }

    .product_card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 10em;
    }

    .product_card > span{
        margin-bottom: .5em;
        font-size: 1em;
        position: absolute;
        z-index: 2;
        left: 5%;
        top: 5%;
    }
    .product_name{
        -webkit-writing-mode: horizontal-tb;
            -ms-writing-mode: lr-tb;
                writing-mode: horizontal-tb;
        left: 7%;
        bottom: -40%;
    } 
    .product_name > .name{
        font-size: 24px;
        letter-spacing: 0;
    }
    .product_name > .name_jp{
        font-size: 16px;
    }

    /* recipe */
    .sec_recipe{
        margin-top: 24vh;
        margin-bottom: 0;
    }

    .recipe_bg{
        height: 45vh;
        margin-bottom: 0;
    }
    .process_txt_box.txt_1{
        padding-left: 0em;
    }
    .process_txt_box.txt_2{
        padding-left: 3em;
        top: 50%;
    }
    .process_txt_box > div{
        font-size: 24px;
    }
    .process_txt_box > p{
        font-size: 16px;
        letter-spacing: 0;
        width: 90%;
    }
    .process{
        height: 20vh;
    }
    .process_img_1{
        margin-right: 2em;
    }
    .process_img_2{
        margin-left: 2em;
    }

    .recipe_deco_agitator , .recipe_deco_mixing_bowl,.recipe_deco_eggs,.recipe_deco_sieve{
        display: none;
    }

    /* order */

    .sec_order > .title > p{
        margin: 0.3em 2.3em;
    }


    .order_process{
        margin-top: 0;
        margin-bottom: 5em;
        max-width: 95%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .order_card{
        width: 90%;
    }
    .order_line{
        margin-left: .8em;
    }
    .tip_title{
        font-size: 20px;
        white-space: nowrap;
    }
    .tip_content{
        font-size: 16px;
        letter-spacing: 0;
    }
    .sec_order > .more_btn{
        padding: 0.5em 2em;
        width: 60%;
    }
    .tip_intro{
        margin-top: 12.5em;
    }

    /* comment */

    .sec_comment{
        margin-top: 20vh;
        margin-bottom: 16vh;
        height: 50vh;    
    }

    .sec_comment > .title > img{
        width: 20em;
    }
    .sec_comment > .title > p{
        margin: 0em 1.8em;
    }

    .comment_card{
        padding: 2em 2em;
        margin: 0 1em;
    }
    .comment_name{
        font-size: 24px;
    }
    .comment_txt{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .comment_icon{
        width: 50%;
        bottom: -25%;
        right: -13%
    }

    .comment_list{
        margin-bottom: 7em;
    }
    .sec_comment > .more_btn{
        width: 60%;
    }


    /* footer */
    .sec_footer{
        height: 80vh;
        padding-top: 6vh;
        
    

    }
    .footer_logo >img{
        width: 10em;
    }
    .top_btn{
        width: 4em;
        height: 4em;
    }

    .contant_btn_icon{
        width: 3em;
        margin-right: 1em;
    }
    .contant_list{
        margin-top: 5vh;
    }
    .contant_card{
        height: 12em;
    }
    .btn_title{
        font-size: 20px;
    }
    .btn_txt{
        font-size: 16px;
    }

    .copyright{
        margin-top: 2em;
        margin-bottom: 8em;
    }


    /* product_page */
    
    .page_title > p{
        font-size: 28px;
    }

    .social_btn_page > img{
        width: 3em;
    }
    .product_headline{
        font-size: 32px;
        margin-bottom: 4px;
    }
    .product_content , .group_name{
        font-size: 20px;
    }
    .product_info_card > .name{
        font-size: 20px;
    }
    .product_info_card > .price {
        font-size: 18px;
    }
    .product_row{
        margin-left: 1em;
        margin-right: 1em;
    }
    .group_title{
        margin-left: 2em;
        font-size: 24px;
    }
    .group_price{
        font-size: 20px;
    }
    .group_name{
        letter-spacing:0;
    }
    .add_txt{
        font-size: 3em;
    }
    .group_info{
        font-size: 16px;
        margin-bottom: 20%
    }
    .more_btn_product{
        width: 70%;
        padding: 0.4em 4em;
        font-size: 20px;
    }
}

/*-------------------------*/
/* $428 x 926
---------------------------*/


@media (max-width: 600px){


    /* global */
    .title > img{
        width: 10em;
    }
    .sub_title{
        font-size: 14px;
        margin: .5em 1.3em;
    }
    .more_btn{
        width: 90%;
        font-size: 16px;
        padding: .3em 8em;
    }

    /* nav */
    .nav_item{
        font-size: 1em;
    }
    .nav-icon{
        width: 30%;
    }



    /* header */
    .sec_header{
        margin-top: 3em;
        height: 60vh;
    }
    .mainmenu_logo{width: 100%;}

    .banner{
        top: 20vh;
        height: 66vh;
        min-width: 90vw;
    }
    .banner_headline{display: none;}
    .banner_txt{
        font-size: 12px;
        top: 0;
    }
    .banner_headline_mobile{
        position: absolute;
        width: 80%;
        display: inline-block;
        bottom: 8%;
        left: 3%;
    }
    .banner_talkbox{
        width: 22%;
        top: 60%;
        right: 3%;
    }
    .social_btn > img{width: 85%;}
    .social_bar{right: 2%;}
    .social_btn{margin-bottom: .3em;}

    .banner_scroll{display: none;}

    .banner_decoline{
        top: 30%;
        width: 30%;
    }


    /* about */

    .sec_about > .container > .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .sec_about > .container > .row >.col-1-2 {
        width: 100%;
    }
    .sec_about > .container{
        top: 25%;
    }

    .sec_about{
        margin-top: 45vh;
        height: 100vh;
    }
    .about_img{
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
    .about_txt_box > p{
        width: auto;
    }

    .about_decoline{
        z-index: 10;
        width: 30%;
        top: 13%;
    }
    .about_deco_stirring{
        width: 25%;
        left: 60%;
    }
    .about_deco_glove , .about_deco_jam{
        display: none;
    }

    /* product */

    .sec_product{
        height: 100%;
        margin-top: 16vh;
        margin-bottom: 0;
    }
    .product_list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 10%;
        margin-bottom: 0%;
        height: auto;
    }
    .product_card{
        height: 8em;
        margin-bottom: 4em;
        margin-right: 0;
        width: 90%;
    }
    .product_name{
        bottom: -30%;
    }
    .product_card > span{
        font-size: 1.4em;
        top: 8%;
    }
    .product_name > .name{
        font-size: 20px;
        line-height: 1.4
    }
    .product_name > .name_jp{
        font-size: 16px;
    }
    .product_deco_spoon{
        width: 20%;
        top: 12%;
    }
    .product_deco_monutain_1, .product_deco_monutain_2{
        display: none;
    }

    /* recipe */
    .sec_recipe{ display: none; }


    /* order */

    .sec_order{
        /* margin-top: 16vh; */
    }

    .order_process{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;  
        max-width: 100%; 
        margin-top: 4vh;
        margin-bottom: 2em;
    }
    .order_card{
        height: 12vh;
        margin-top: 1em;
        margin-bottom: 4em;
    }
    .tip_intro{
        margin-top: 6em;
    }
    .order_line{
        width: 1px;
        height: 1.5em;
    }
    .tip_title{
        font-size: 20px;
    }
    .tip_content{
        font-size: 16px;
    }
    .sec_order > .more_btn{
        width: 90%;
    }

    .order_deco_cloud1, .order_deco_cloud2, .order_deco_cloud3, .order_deco_flower, .order_deco_mountains1, .order_deco_mountains2{
        visibility: hidden;
    }



    /* comment */
    .sec_comment{
        margin-top: 16vh;
        height: 100%;
    }

    .comment_list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 1vh;
        margin-bottom: 6vh;
    }
    .comment_name{
        font-size: 18px;
    }
    .comment_card{
        margin: .5em;
    }
    .comment_icon{
        width: 40%;
        bottom: -20%;
    }
    .sec_comment > .more_btn{
        width: 90%;
    }

    /* footer */
    .sec_footer{
        margin-top: 0;
    }

    .top_btn{
        top: 8%;
    }

    .contant_list{
        margin-top: 0;
        margin-bottom: 0;
    }
    .contant_card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 10em;
    }
    .contant_btn_icon{
        margin-right: 0;
        width: 2.5em;
    }
    .footer_logo{
        margin-top: 4em;
        margin-bottom: 3em;
        height: auto;
    }
    .footer_logo >img{
        width: 6em;
    }
    .footer_logo > p{
        font-size: 20px;
    }

    .btn_title, .btn_txt{
        text-align: center;
        letter-spacing: 0;
    }
    .btn_title{
        font-size: 18px;
    }
    .btn_txt{
        font-size: 14px;
        opacity: 0.8;
    }

    .copyright{
        font-size: 12px;
    }

    /* product_page */
    .page_title > p{
        font-size: 16px;
    }

    .product_title_row {
        margin-top: 20%;
        margin-bottom: 12%;
    }

    .u-pc-hidden, .u-mb-hidden{
        display: none;
    }

    .product_row{
        margin: 0 0;
    }

    .product_row > .col-1-2{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .product_headline{
        font-size: 24px;
    }
    .headline_patten{
        width: 6%;
    }
    .product_content, .group_name{
        font-size: 16px;
    }
    .group_row{
        flex-direction: column
    }
    .group_title{
        margin-left: 0;
        text-align: center;
        margin-top: 2.5em;
        margin-bottom: 1em;
        font-size: 20px;
    }
    .group_price{
        font-size: 18px;
    }

    .product_info_card >.product_img{
        width: 50%;
    }
    .group_info{
        font-size: 14px;
        margin-bottom: 0%;
    }
    .info_txt{
        text-align: center;

    }
    .add_txt{
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }

    .more_btn_product{
        width: 90%;
        font-size: 16px;
        margin-top: 20%;
        margin-bottom: 24%
    }
    .page_footer{
        margin-top: -4%;
    }
}

@media (min-width: 600px){
    .product_row > .col-1-2{
        display: none;
        
    }


}




/*-------------------------*/
/* $390 x 844
---------------------------*/

@media (max-width: 400px){


    /* header */
    .banner{
        height: 60vh;
        top: 22vh;
    }

    .about_txt_box > p{
        width: auto;
        font-size: 14px;
    }
    .about_img{
        width: 70%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    /* product */

    .sec_product{
        margin-top: 12vh;
 
    }
    .product_list{
        margin-bottom: 2em;
    }
    /* recipe */
    .sec_recipe{
        margin-top: 42vh;
    }
    .process_txt_box > div{
        font-size: 20px;
    }
    .process_txt_box > p{
        font-size: 14px;
    }

    /* footer */
    .btn_title{
        font-size: 16px;
    }
    .copyright{
        font-size: 14px;
    }
    .top_btn{
        width: 3em;
        height: 3em;
    }


}


/*-------------------------*/
/* $375 x 667
---------------------------*/


@media (max-width: 380px){


    /* nav */
    .navigation{
        height: 7em;
    }
    .nav_item{
        font-size: .9em;
    }
    /* heaader */
    .mainmenu_logo{
        width: 90%;
         margin-bottom: 0;
    }

    .banner{
        height: 61vh;
    }
    .banner_txt{
        display: none;
    }

    /* about */
    .sec_about{
        height: 125vh;
        padding-bottom: 24vh;
    }
    .about_decoline{
        top: 12%;
    }

    /* product */
    .sec_product{
        margin-top: 12vh;
        height: 128vh;
    }
    .product_name > .name{font-size: 18px;}
    .product_name > .name_jp{font-size: 14px;}
    .product_name {bottom: -18%;}

    /* recipt */
    .process{
        height: 30vh;
    }

    /* order */
    .order_card{
        height: 14vh;
        margin-bottom: 4em;
    }
    .tip_intro{margin-top: 5em;}
    .tip_title{font-size: 18px;}
    .tip_content{font-size: 14px;}

    /* comment */
    .sec_comment > .title > img{
        width: 16em;
    }
    .comment_card{
        margin: 1em .5em;
    }

    .comment_list{
        margin-top: 4vh;
    }
    .comment_txt{
        font-size: 14px;
    }

    /* footer */
    .sec_footer{
        height: 95vh;
    }
    .top_btn{
        width: 3em;
        height: 3em;
    }

    .footer_logo{
        height: 10em;
    }
    .footer_logo >img{
        width: 6em;
    }
    .footer_logo > p{
        font-size: 16px;
    }

    .btn_txt{
        font-size: 12px;
    }
    .btn_title{
        margin-top: .4em;
    }
    .copyright{
        font-size: 12px;
    }

}