/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*-------------------------*/
/* $Mobile
---------------------------*/


@media (min-width: 1000px) {
    .nav_bar{
        display: none;
    }
}






/*-------------------------*/
/* $1366 x 768
---------------------------*/

@media (max-width: 1600px){
    .menu_item{font-size: 20px;}
    .banner{height: 80vh;}
}


@media (max-width: 1400px){
    .menu_item{font-size: 18px;}
}




/*-------------------------*/
/* $1194 x 834
---------------------------*/


@media (max-width: 1200px){


    /* global */
    .title > img{
        width: 16em;
    }
    .sub_title{
        font-size: 20px;
    }
    .about_txt_box > p{
        width: 85%;
        margin: 2em 2.2em;
    }

    .more_btn{
        padding: .4em 6em;
    }

    /* header */

    .banner{
        min-width: 80vw;
        height: 75vh;
        top: 12vh;
        right: 0;
    }
    .banner_headline{
        top: 65%;
    }
    .mainmenu_logo{
        width: 40%;
        margin-bottom: 2em;
    }

    .menu_item{
        font-size: 20px;
    }

    .social_btn > img{
        width: 3em;
    }
    .scroll_circle{
        height: 1.2em
    }
    .banner_scroll{
        width: 1.2em;
    }
    .banner_scroll > p{
        font-size: 20px;
    }



    /* product */
    .sec_product{
        margin-top: 24vh;
    }
    .product_card{
        height: 16em;
    }
    .product_list{
        margin-bottom: 25%;
    }

    .product_name{
        bottom: -55%;
        right: 5%;
    }
    .product_name > .name{
        font-size: 32px;
        letter-spacing: 2px;
    }
    .product_name > .name_jp{
        font-size: 16px;
        letter-spacing: 0;
    }
    .product_card > span{
        font-size: 1.5em;
    }
    .process_img_1, .process_img_2{
        width: 70%;
    }

    .process_txt_box.txt_1{
        top: 35%;
        padding-left: 0;
    }
    .process_txt_box.txt_2{
        padding-left: 6em;
    }
    .process_img_1{
        margin-top: 2em; 
        margin-right: 0;  
    }
    .process_img_2{
        margin-left: 0;
    }
    .txt_2 > p {
       width: 100%;  
    }

      /* order */

    .sec_order > .title > p{
        margin: .5em 2.2em;
    }
    .tip_title{
        font-size: 30px;
    }
    .tip_intro{
        margin-top: 12em;
    }
    .tip_content{
        font-size: 22px;
    }

    /* comment */

    .comment_list{
        margin-bottom: 8em;
    }
    .comment_card {
        margin: 0 1em;
        padding: 3em 4em;
    }
    .comment_icon{
        width: 40%;
    }

    /* footer */
    .sec_footer{
        height: 125vh;

    }
}


/*-------------------------*/
/* $1024 x 768
---------------------------*/





/*-------------------------*/
/* $768 x 1024
---------------------------*/

@media (max-width: 1000px){

    /* global */

    .title > img{
        width: 14em;
    }
    .sub_title{
        font-size: 18px;
        margin: .3em 1.5em;
    }
    .more_btn{
        font-size: 18px;
        padding: .5em 6em;
    }



    /* header */


    .sec_header > .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .header_mainmenu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
    }

    .mainmenu_logo{
        width: 70%;
    }
    .mainmenu{
        margin-top: 5vh;       
    }

    .mainmenu > ul{
        display: none;
    }
    .mainmenu_logo{
        width: 70%;
    }
    .menu_item{font-size: 16px;}

    .header_banner{
        width: 100vw;

    }

    .banner{
        height: 55vh;
        top: 22vh;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        min-width:85vw;
    }
    .banner_headline{
        width: 75%;
        top: 60%;
    }
    

    .social_btn > img{width: 100%;}
    .social_bar{
        top: 2.5em;
        right:  4%;
    }
    .social_btn{margin-bottom: .5em;}




    /* about */
    .sec_about{
        margin-top: 32vh;
        height: 70vh;
    }

    .sec_about > .container{
        top: 50%;
    }

    .about_txt_box > p{
        width: 95%;
        font-size: 16px;
        margin: 1.5em 1.5em;
    }

    .about_img{
        width: 75%;
    }

    /* product */

    .sec_product{
        height: 40vh;
    }

    .product_list{
        margin-bottom: 20%
    }

    .product_card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 10em;
    }

    .product_card > span{
        margin-bottom: .5em;
        font-size: 1em;
        position: absolute;
        z-index: 2;
        left: 5%;
        top: 5%;
    }
    .product_name{
        -webkit-writing-mode: horizontal-tb;
            -ms-writing-mode: lr-tb;
                writing-mode: horizontal-tb;
        left: 7%;
        bottom: -40%;
    } 
    .product_name > .name{
        font-size: 24px;
        letter-spacing: 0;
    }
    .product_name > .name_jp{
        font-size: 16px;
    }

    /* recipe */
    .sec_recipe{
        margin-top: 24vh;
        margin-bottom: 0;
    }

    .recipe_bg{
        height: 45vh;
        margin-bottom: 0;
    }
    .process_txt_box.txt_1{
        padding-left: 0em;
    }
    .process_txt_box.txt_2{
        padding-left: 3em;
        top: 50%;
    }
    .process_txt_box > div{
        font-size: 24px;
    }
    .process_txt_box > p{
        font-size: 16px;
        letter-spacing: 0;
        width: 90%;
    }
    .process{
        height: 20vh;
    }
    .process_img_1{
        margin-right: 2em;
    }
    .process_img_2{
        margin-left: 2em;
    }

    /* order */
    .sec_order{
        margin-top: 16vh;
        margin-bottom: 16vh;
 
    }
    .sec_order > .title > p{
        margin: 0.3em 2.3em;
    }


    .order_process{
        margin-top: 0;
        margin-bottom: 5em;
        max-width: 95%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .order_card{
        width: 90%;
    }
    .order_line{
        margin-left: .8em;
    }
    .tip_title{
        font-size: 20px;
        white-space: nowrap;
    }
    .tip_content{
        font-size: 16px;
        letter-spacing: 0;
    }
    .sec_order > .more_btn{
        padding: 0.5em 2em;
        width: 60%;
    }
    .tip_intro{
        margin-top: 12.5em;
    }

    /* comment */

    .sec_comment{
        margin-top: 20vh;
        margin-bottom: 16vh;
        height: 50vh;    
    }

    .sec_comment > .title > img{
        width: 20em;
    }
    .sec_comment > .title > p{
        margin: 0em 1.8em;
    }

    .comment_card{
        padding: 2em 2em;
        margin: 0 1em;
    }
    .comment_name{
        font-size: 24px;
    }
    .comment_txt{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .comment_icon{
        width: 50%;
        bottom: -25%;
        right: -13%
    }

    .comment_list{
        margin-bottom: 7em;
    }
    .sec_comment > .more_btn{
        width: 60%;
    }


    /* footer */
    .sec_footer{
        height: 80vh;
        padding-top: 6vh;
        
    

    }
    .footer_logo >img{
        width: 10em;
    }
    .top_btn{
        width: 4em;
        height: 4em;
    }

    .contant_btn_icon{
        width: 3em;
        margin-right: 1em;
    }
    .contant_list{
        margin-top: 5vh;
    }
    .contant_card{
        height: 12em;
    }
    .btn_title{
        font-size: 20px;
    }
    .btn_txt{
        font-size: 16px;
    }

    .copyright{
        margin-top: 2em;
        margin-bottom: 8em;
    }

}



/*-------------------------*/
/* $428 x 926
---------------------------*/


@media (max-width: 600px){


    /* global */
        

    .title > img{
        width: 10em;
    }
    .sub_title{
        font-size: 14px;
        margin: .5em 1.3em;
    }
    .more_btn{
        width: 90%;
        font-size: 16px;
        padding: .3em 8em;
    }

    /* nav */
    .nav_item{
        font-size: 1em;
    }
    .nav-icon{
        width: 30%;
    }



    /* header */

    .mainmenu_logo{width: 100%;}

    .banner{
        top: 20vh;
        min-width: 90vw;
    }
    .banner_headline{
        width: 90%;
        top: 75%;
    }

    .sec_header{
        margin-top: 3em;
        height: 60vh;
    }
    .social_btn > img{width: 85%;}
    .social_bar{right: 2%;}
    .social_btn{margin-bottom: .3em;}


    /* about */

    .sec_about > .container > .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .sec_about > .container > .row >.col-1-2 {
        width: 100%;
    }
    .sec_about > .container{
        top: 35%;
    }

    .sec_about{
        height: 100vh;
    }

    /* product */

    .sec_product{
        height: 100vh;
    }
    .product_list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .product_card{
        height: 13em;
        margin-bottom: 4em;
        margin-right: 0;
        width: 90%;
    }
    .product_name{
        bottom: -10%;
    }
    .product_card > span{
        font-size: 1.4em;
        top: 8%;
    }
    .product_name > .name{
        font-size: 20px;
    }
    .product_name > .name_jp{
        font-size: 16px;
    }

    /* recipe */
    .recipe_bg {
        display: none;

    }

    .sec_recipe > .title{
        margin-bottom: 3vh;
    }

    .process_img_1, .process_img_2{
        margin: 0;
        width: 35%;
    }
    .process_img_1{
        margin-left: 1em;
        margin-top: 1em;
    }
    .process_img_2{
        margin-right: 2em;
        margin-bottom: 1em;
    }


    .process_txt_box.txt_1{
        top: 30%;
    }
    .process_txt_box.txt_2{
        top: 35%;
        padding-left: 0;
    }

    /* order */

    .order_process{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;  
        max-width: 100%; 
        margin-top: 4vh;
    }
    .order_card{
        height: 16vh;
        margin-top: 2em;
        margin-bottom: 4em;
    }
    .tip_intro{
        margin-top: 8em;
    }
    .order_line{
        width: 1px;
        height: 2em;
    }
    .tip_title{
        font-size: 20px;
    }
    .tip_content{
        font-size: 16px;
    }
    .sec_order > .more_btn{
        width: 90%;
    }

    /* comment */

    .comment_list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 1vh;
        margin-bottom: 6vh;
    }
    .comment_name{
        font-size: 18px;
    }
    .comment_card{
        margin: .5em;
    }
    .comment_icon{
        width: 40%;
        bottom: -20%;
    }
    .sec_comment > .more_btn{
        width: 90%;
    }

    /* footer */
    .top_btn{
        top: 8%;
    }

    .contant_card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 10em;
    }
    .contant_btn_icon{
        margin-right: 0;
        width: 2.5em;
    }
    .footer_logo >img{
        width: 8em;
    }
    .footer_logo > p{
        font-size: 20px;
    }

    .btn_title, .btn_txt{
        text-align: center;
        letter-spacing: 0;
    }
    .btn_title{
        font-size: 18px;
    }
    .btn_txt{
        font-size: 14px;
        opacity: 0.8;

    }
}



/*-------------------------*/
/* $390 x 844
---------------------------*/

@media (max-width: 400px){


    /* header */
    .banner{
        height: 50vh;
        top: 22vh;
    }

    .about_txt_box > p{
        width: auto;
        font-size: 14px;
    }
    .about_img{
        width: 60%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-top: 2em;
    }

    /* product */

    .sec_product{
        margin-top: 20vh;
 
    }
    .product_name > .name{
        font-size: 24px;
    }
    .product_name > .name_jp{
        font-size: 18px;
    }

    /* recipe */
    .sec_recipe{
        margin-top: 42vh;
    }
    .process_txt_box > div{
        font-size: 20px;
    }
    .process_txt_box > p{
        font-size: 14px;
    }

    /* footer */
    .btn_title{
        font-size: 16px;
    }
    .copyright{
        font-size: 14px;
    }
}


/*-------------------------*/
/* $375 x 667
---------------------------*/


@media (max-width: 380px){


    /* nav */
    .nav_item{
        font-size: .9em;
    }

    /* about */
    .sec_about{
        height: 125vh;
        margin-top: 24vh;
        padding-bottom: 24vh;
    }

    /* product */
    .sec_product{
        margin-top: 12vh;
        height: 128vh;
    }
    .product_card{
        height: 12em;
    }
    .product_name {
        bottom: -18%;
    }

    /* recipt */
    .process{
        height: 30vh;
    }

    /* order */
    .order_card{
        margin-bottom: 7em;
    }

    /* comment */
    .sec_comment > .title > img{
        width: 16em;
    }
    .comment_card{
        margin: 1em .5em;
    }

    .comment_list{
        margin-top: 4vh;
    }
    .comment_txt{
        font-size: 14px;
    }

    /* footer */
    .sec_footer{
        height: 95vh;
    }
    .top_btn{
        width: 3em;
        height: 3em;
    }

    .footer_logo{
        height: 10em;
    }
    .footer_logo >img{
        width: 6em;
    }
    .footer_logo > p{
        font-size: 16px;
    }

    .btn_txt{
        font-size: 12px;
    }
    .btn_title{
        margin-top: .4em;
    }
    .copyright{
        font-size: 12px;
    }

}